/* Variables */
$gray-text: #828282;

/* CSS */

body {
  background: rgb(255,255,255);
}

#app {
	width:85%;
	margin:0 auto;
	background-color: #f6f6ef;
}

header {
	height:20px;
	padding:2px;
	background-color: rgb(255, 102, 0);
	display:flex;
	flex-direction: row;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.title {
	font-weight:bold;
	padding-right:4px;
}

.logo {
	width:18px;
	padding-right:4px;

	img {
		border:1px #FFFFFF solid;
	}
}

section {
	height:auto;
	padding-top: 10px;
}

.storyContainer {
	display:flex;
	flex-direction:row;
	margin-bottom:7px;
	font-family: Verdana, Geneva, sans-serif;

	.number {
		text-align: right;
	    width: 25px;
	    font-size: 10pt;
	    color: $gray-text;
    	padding-right: 10px;
	}

	.storyBox {

		a:visited {
    		color: $gray-text;
		}

		.storyTitle {
		    font-size: 10pt;

		    a:link {
			    color: #000000;
			    text-decoration: none;
			}
		}

		.metaInfo {
		    font-size: 7pt;
		    color: $gray-text;

		    a:link {
	    		color: $gray-text;
	    		text-decoration: none;
			}
		}

	}
}

#moreButton {
	padding-left:35px;
}